body{
    background: url("../images/future-world.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
    color:white;

}

div{
    display:block;

}

.board{
    height:350px;
    width:350px;
    position:relative;
    margin: 0 auto;

}

.square{
    height: 100px;
    width:100px;
    background-color: crimson;
    float:left;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid blue;
    background-size: contain;
}