body{
    background: url("../images/future-world.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
    color:white;

}

div{
    display:block;

}

.left{
    color: white;
}

.board{
    height:350px;
    width:350px;
    position:relative;
    margin: 0 auto;

}

.square{

    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../images/congruent_outline.png');
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 3px 3px 1px #888888;
    margin: 5px 5px 5px 5px;
    vertical-align: middle;
    opacity: .9;
}



.player1{
    background: url("../images/colorX.jpeg");
    -webkit-background-size: cover;
    background-size: cover;

}

.player2{
    background: url("../images/xcircle.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
}

.reset {
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}