body{
    background: url("../images/futureworld.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
    color:white;

}

div{
    display:block;

}

.left{
    color: white;
}

.board{
    height:350px;
    width:350px;
    position:relative;
    margin: 0 auto;
}

.play1{
    float:left;
    margin: 10% 0 0 20%;
}

.play2{
    float:right;
    margin: 10% 20% 0 0;
}

.square{

    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('../images/congruent_outline.png');
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 3px 3px 1px #888888;
    margin: 5px 5px 5px 5px;
    vertical-align: middle;
    opacity: .9;
}

#score{
    color:orange;
    opacity: .8;
}

#score2{
    color:orange;
    opacity: .8;
}

.lead{
    color: #00FFFF;
    opacity: .9;
    font-size: 20px;
}

#player-info{
    color:white;
}

.player1{
    background: url("../images/colorX.jpeg");
    -webkit-background-size: cover;
    background-size: cover;

}

.player2{
    background: url("../images/xcircle.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
}

.reset {
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.clear{
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.winner {
    color:red;
    opacity: .9;
    border-radius:100%;
    position: relative;
    -webkit-animation-name: winner;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    animation-name: winner;
    animation-delay: 3s;
    animation-iteration-count: 1;
}

@keyframes winner{
    0%{background-color: red; left: 0px; top: 0px;}
    10%{background-color: yellow; left: 200px; top: 0px;}
    20%{background-color: purple; left: 200px; top: 200px}
    30%{background-color: blue; left: 0px; top: 200px;}
    40%{background-color: black; left: 0px; top: 0px;}
    50%{background-color: purple; left: 100px; top: 100px;}
    60%{background-color: red; left: 0px; top: 200px;}
    70%{background-color: yellow; left: 40px; top: 50px;}
    80%{background-color: purple; left: 10px; top: 10px;}
    90%{background-color: blue; left: 50px; top: 0px;}
    100%{background-color: black; left: 40px; top: 20px;}
}

@-webkit-keyframes winner{
    0%{background-color: red; left: 0px; top: 0px;}
    10%{background-color: yellow; left: 200px; top: 0px;}
    20%{background-color: purple; left: 200px; top: 200px}
    30%{background-color: blue; left: 0px; top: 200px;}
    40%{background-color: black; left: 0px; top: 0px;}
    50%{background-color: purple; left: 100px; top: 100px;}
    60%{background-color: red; left: 0px; top: 200px;}
    70%{background-color: yellow; left: 40px; top: 50px;}
    80%{background-color: purple; left: 10px; top: 10px;}
    90%{background-color: blue; left: 50px; top: 0px;}
    100%{background-color: black; left: 40px; top: 20px;}
}