body{
    display: table;
}

h1{
    text-align: center;
}

.gameboard {

    width: 20%;
    display:table-cell;
    vertical-align: middle ;
}

.row1 {

    border: 5px solid red;
    background-color: #00FFFF;
    padding: 50px;
}

.row2 {

    border: 5px solid red;
    background-color: #00FFFF;
    padding: 50px;
}

.row3 {

    border: 5px solid red;
    background-color: #00FFFF;
    padding: 50px;
}
