.row1 {

    border: 5px solid red;
    background-color: #00FFFF;
    padding: 50px;
}

.row2 {

    border: 5px solid red;
    background-color: #00FFFF;
    padding: 50px;
}

.row3 {

    border: 5px solid red;
    background-color: #00FFFF;
    padding: 50px;
}



